 *,
 *:before,
 *:after {
     box-sizing: border-box;
     margin: 0 auto;
 }
 
 
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a:hover {
  color:#fff !important;
}
 .v-text-field .v-field--no-label input {
  padding:10px;
 }
.v-input--density-default .v-field__input {
  min-height: 34px !important;
}
.v-btn__content {
  color:unset;
}
.menu-nav-list {
  padding:0;
  margin:0;
}
.menu-nav-list .nav-item {
  text-decoration: none;
}


.app-container{
  height: 100%;
  position: relative;
  display: grid;
  grid-template: auto 1fr auto / 1fr;
}
.app-content{
  overflow: hidden;
  align-items: center;
  justify-items: center;
  padding-top:80px;
}
.particles-js-canvas-el  {
background-color: #000;
position: fixed;
}

.v-img__img--contain {
object-fit: cover !important;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width:100%;
height:100%;
}

.v-btn {
  text-transform: math-auto !important;
}

.viber_btn {
background-color: initial;
background-image: linear-gradient(240deg, #3f29ca, #7360f2) !important;
border: 1px solid #fbff00 !important;
border-radius: 50px 50px 50px 50px !important;
box-shadow: 0 0 10px 0 rgba(4, 113, 0, .5);
color: #fff !important;
display: inline-block;
font-size: 19px;
font-weight: 500;
padding: 29px 70px !important;
text-decoration: none;
transition: .5s;
}
.viber_btn .v-btn__content , .line_btn .v-btn__content , .register_btn_home .v-btn__content {
  position: relative;
  bottom:12px;
}
.line_btn {
background-color: initial;
background-image: linear-gradient(240deg,#3f9a02 30%,#0a811a 70%) !important;
border: 1px solid #fbff00 !important;
border-radius: 50px 50px 50px 50px  !important;
box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
color: #fff  !important;
display: inline-block;
font-size: 19px;
font-weight: 500;
margin-top:20px;
padding: 29px 70px !important;
text-decoration: none;
transition: .5s;
}
.register_btn_home {
  background-color: initial;
background-image: linear-gradient(120deg,#059b00 30%,#abc201 70%) !important;
border: 1px solid #fbff00 !important;
border-radius: 50px 50px 50px 50px  !important;
box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
color: #fff  !important;
display: inline-block;
font-size: 19px;
font-weight: 500;
margin-top:20px;
padding: 29px 70px !important;
width: 400px;
text-decoration: none;
transition: .5s;
}

.social_btn:hover {
-webkit-transform: scale(.9);
transform: scale(.9);
transition: .5s;
color: #fff;
}

.social_btn svg {
width: 28px;
}
.el-carousel__container {
  height: 600px !important;
}
.html {
  font-size: 62.5%;
}
h1 {
  font-size: 28px;
  margin-top:30px;
}
h2 {
  font-size: 23px;
}
p {
  text-align: justify;
}
body {
  font-family: "Poppins", sans-serif;
}

.nav-item a.nuxt-link-exact-active {
  color: #fff!important;
  padding:10px 15px;
  background-color: rgba(5,178,34,.5)!important;
    border-bottom: 1px solid #0BA52E!important;
    border-radius: 10px!important;
    text-shadow: 1px 1px 4px #fff!important;
  
}


.page {
    color: #40403F;
    width: 100vw;
    height: calc(100vh - 4.5rem);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  nav ~ .content-page {
    margin-top: 4.5rem;
  }
  
  .content-page {
    font-size: 1.75rem;
  }
  
  #intro {
    text-align: center;
  }
  @media (max-width: 769px) {
    #intro {
      margin-top: 4.5rem;
    }
  }
  #intro > #intro-title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  #intro > #intro-description {
    font-size: 1rem;
  }
  
  nav {
    position: absolute;
    top: calc(100vh - 4.5rem);
    width: 100vw;
    min-height: 4.5rem;
    background: white;
    box-shadow: 0 -2px 1rem #CFD2CD;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @media (max-width: 769px) {
    .profile  {
      text-align: center;
      padding:15px !important;
      margin-top:60px !important;
    }
    .profile_userDetail p {
      text-align: center;
      margin:0;
    }
    .profile_item {
      text-align: center;
      display: inline-table !important;
      border-radius: 3px !important;
      padding:120px 5px 15px 5px;
    }
    .profile_img {
      width:230px !important;
      height:230px !important;
      position: absolute;
      right:0;
      left:12%;
      bottom:65%;
    }

    .change_password_btn {
      padding:12px 10px !important;
      font-size: 16px;
    }
    .logout_btn {
      margin-left:3px !important;
      font-size: 16px;
    }
    nav {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      top: 0;
      height: 100vh;
      width: initial;
    }
  }
  nav a {
    position: relative;
    background: transparent;
    text-align: center;
    height: 3rem;
    text-decoration: none;
  }
  @media (max-width: 769px) {
    nav a {
      width: 100%;
      margin: auto;
      padding: 0 1.5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  nav a.menu-btn {
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  @media (min-width: 769px) {
    
    nav a.menu-btn {
      display: none;
    }
  }
  nav a#user-btn {
    color: #81B29A;
  }
  nav a.tab:not(.placeholder), nav a.tab:not(.placeholder)::after {
    border: none;
    outline: none;
    cursor: pointer;
    flex: 1;
    line-height: 4.5rem;
    font-size: 1rem;
    vertical-align: center;
  }
  nav a.tab:not(.placeholder)::before, nav a.tab:not(.placeholder)::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
  nav a.tab:not(.placeholder)::before {
    content: "";
    border-bottom: solid 2px #81B29A;
    transition: 0.5s ease;
    z-index: 1000;
  }
  @media (min-width: 769px) {
    nav a.tab:not(.placeholder)::before {
      display: none;
    }
  }
  nav a.tab:not(.placeholder)::after {
    content: attr(data-text);
    color: white;
    background: #81B29A;
  }
  @media (max-width: 769px) {
    nav a.tab:not(.placeholder)::after {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 1.5rem;
    }
  }
  nav a.tab:not(.placeholder):hover::after {
    opacity: 1;
    transition: 0.5s ease;
  }
  nav a.tab:not(.placeholder).active::before {
    opacity: 1;
    transition: 0.5s ease;
  }
  nav a.tab.hidden {
    display: none;
  }
  nav.hidden {
    transform: translateX(-100%);
  }
  .heading_one {
    position: relative;
    padding:50px;
    
  }
  .heading_two{
    position: relative;
    padding:50px;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
  }
  .heading_three{
   position: relative;
   padding: 50px;
   background-color: rgba(2,32,2,.9);
   text-align: center;
  }
  .heading_one_content , .heading_two_content , .heading_three_content {
    color:#fff;
    font-weight: unset;
  }
 
  .heading_one img , .heading_two img   {
    max-width: 480px;
    width:100%;
  }
  .heading_three img {
    max-width: 786px;
    width:100%;
    margin-bottom: 50px;
  }

 

  .heading_one_content {
    padding: 30px 100px 50px 50px;
    color:#fff;
  }
  .heading_one_content img {
    width:32% !important;
    margin:0;
    padding-bottom: 20px;
   
  }
  .heading_two_content {
    padding: 50px 100px 50px 50px;
    color:#fff;
  }
  .heading_three_content {
    padding:0 100px 30px 100px;
    color:#fff;
  }
  .heading_one_content h2 , .heading_two_content h2 ,.heading_three_content h2  {
    margin-bottom: 30px;
    font-weight: unset !important;
    text-shadow: 1px 1px 10px rgba(251,226,0,.92);
    text-align: center;


    /* background: -webkit-linear-gradient(#FDDA5C,#F38F09);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }
  .heading_one_content p, .heading_two_content p ,.heading_three_content p  , .footer_content_1 p{
    line-height: 2pc;
    font-size: large;
  }

.topup .v-input--center-affix .v-input__prepend, .v-input--center-affix .v-input__append {
  background-color: #fff;
  margin:0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding:5px;
}
.lang_item {
  display: contents;
  position: relative;
  left:20px;
}
.lang_svg {
  display: inline-flex;
  position: relative;
  top:16px;
}
.lang_item svg {
  width:30px;
  height: 30px;
  color:#fff;
  position: relative;
  top:10px;
}
.lang_item span {
position: relative;
padding-left:10px;
color:#fff;
}
.lang_item .el-dropdown  {
display: inline-flex;
position: relative;
right:15px;
top:6px;
}
.logo {
  width:59px;
  position: relative;
  top:5px;
}
.bg_green {
  background-color: rgba(8,72,16,.5);
  padding:35px 20px;
}
.topup .v-banner {
 
  border-radius: 9px !important;
    background-color: unset;
    padding-inline: 18px;
}
.topup .v-banner--density-default.v-banner--two-line {
  padding:8px;
}
.topup_submit_btn , .withdraw_submit_btn {
  width: 100%;
  background-color: #ffc107 !important;
  border:1px solid #fff;
  font-weight: bold;
  min-height: 43px !important;
}.deposit_inputs .v-input--density-default .v-field__input {
  min-height: 43px !important;
}

.deposit_inputs .v-text-field .v-field--no-label input {
  height: 13px !important;
}
.profile_btns .show_only_deposit {
  padding: 18px 10px;
  margin-top: 8px;
  background-color: #ffc107;
  color: #000;
  height: unset !important;
  font-weight: bold;
  border: 0;
  cursor: unset;
}

.profile_btns .show_only_deposit:active {
  border: 0 !important;
}
.topup .v-label {
 width:100% !important;
 display: unset;
}
.topup .v-card--link {
  background-color: unset;
}

.bank_bgColor {
  background-color: #198754 !important;
    border: 2px solid #fff !important;
    border-radius: 9px !important;
    color: #fff !important;
}
.copy_icon {
  width:20px !important;
  position: relative;
  top:10px;
}
.bank_bgColor svg {
  color:#fff;
  width:20px !important;
  position: relative;
  top:10px;
}
.errordialog .v-icon {
  color:red !important;
  font-size: 70px;
}
.logindialog , .errordialog {
  text-align: center;
}
.logindialog p , .errordialog p {
  text-align: center;
}
.logindialog .v-icon {
  color:#008f32 !important;
  font-size: 70px;
}
.logindialog .v-btn , .errordialog .v-btn {
  background-image: linear-gradient(240deg,#3f9a02 30%,#0a811a 70%)!important;
  width:auto !important;
  color:#fff !important;
}
.v-messages__message {
  text-align: left;
  line-height: 21px;
}
.topup h6 {
  padding-top:10px;
  padding-left:10px;
}







































@media (max-width:800px) {
  .responsive_hide {
    display: none !important;
  }
  .topup .v-btn__content {
    display: block !important;
    text-align: -webkit-center;
    padding:5px;
  }
  .bank_card .el-col-8 {
    display:contents !important;
    width:100%;
   
  }
  .bank_card .bank_detail {
    margin:10px auto !important; 
  }
  .change_password_btn , .logout_btn {
    font-size:12px !important;
    margin:10px 0 !important;
  }
  .logo {
    margin:0 20px !important;
    width:65px !important;
  }
  .nav-item {
    margin:10px 5px 5px 5px !important;
  }
  .lang_profile_items .v-input__control {
    width:120px !important;
  }
  .nav-bar .login_profile {
    position: relative;
    left:20px !important;
  }
 

}

  @media (max-width:790px) {
    .social_bar ul li[data-v-e5d21d1a] {
      padding:10px 8px !important;
    }
    .lang_svg {
      top:6px;
      right:70px;
    }
    .lang_svg span {
      display: none;
    }
    .lang_svg svg {
      width:34px;
    }
 
    .lang_profile_items .v-input__control {
      width:100px !important;
      position: relative;
      right:34px;

    }
    .game_section {
      padding:0 !important;
    }
   
  }
  @media (max-width:768px) { 
    .heading_one_content , .heading_two_content , .heading_three_content {
      padding:20px;
    }
    .heading_one_content p , .heading_two_content p , .heading_three_content p {
      font-size: 13px;
    }
  
    .change_lang_icon span , .change_lang_icon i {
      padding:0 !important;
    }
   
    .footer_content_1 {
      padding:0 !important;
    }
  }
  @media (max-width:300px) {
    .profile_img {
      width:150px !important;
      height: 150px !important;
      bottom:81% !important;
      left:16% !important;
    }
    .logo {
      left:0px !important;
      top:4px;
    }
    .lang_svg svg  {
      width:28px !important;
    }
  
    .footer_content_1 img {
      width:170px !important; 
    }
    .footer_content_2 .wavemoney_icon img {
      width:200px !important;
    }
    .lang_profile_items .v-input__control {
      width:100px !important;
      position: relative;
      right:35px;

    }
    .nav-bar .login_profile {
      right:30px !important;
    }
  }
  

  
